<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>808123069927-8lefr684cj5rp016i3es5u1247ck9us9.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.808123069927-8lefr684cj5rp016i3es5u1247ck9us9</string>
	<key>API_KEY</key>
	<string>AIzaSyCIfkozez-Lsjw7YpkR7PYvtAkb35oMm7A</string>
	<key>GCM_SENDER_ID</key>
	<string>808123069927</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>start.myFirstDatabase</string>
	<key>PROJECT_ID</key>
	<string>myfirstdatabase-b3b3e</string>
	<key>STORAGE_BUCKET</key>
	<string>myfirstdatabase-b3b3e.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:808123069927:ios:82cc7c93dbeabbbf0e7942</string>
	<key>DATABASE_URL</key>
	<string>https://myfirstdatabase-b3b3e.firebaseio.com</string>
</dict>
</plist>